####################################################################
#
#
#
#
####################################################################
<% tableNames.each {String tableName -> %>\
sqlldr CONTROL=ctl/${tableName}.ctl, LOG=log/${tableName}.log, BAD=${tableName}.bad, DATA=dat/${tableName}.dat, USERID=${schemaName}/\$PASSWORD
<% } %>\