/******************************************************************************
 Program Name: DDL for  ${schemaName}.${indexName}
 Author:       Database Architect
 ******************************************************************************/