CREATE	INDEX ${schemaName}.${indexName} ' ||
'ON ${schemaName}.${tableName} ' ||
'KEY ' ||
'('    ||
<% columnList.eachWithIndex {bean, i ->
    if (i == 0){ %>\
    '${currentBean.columnNameAttr().value()}'	||
<% } else { %>\
    ',${currentBean.columnNameAttr().value()}' ||
<% } } %>\
')'
/